<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="sampletest">

  <test name="Sample1 Tests" allow-return-values="true">
    <classes>
       <class name="com.test.test11"/>
       
    </classes>
  </test>
   
  
</suite> <!-- Suite -->


